body {
    background-color: rgb(19,19,19);
    font-family: arial, sans-serif;
}
.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    border: solid 3px black;
    max-width: 400px;
    border-radius: 25px;
    background-color: seashell;
    box-shadow: 0px 0px 10px 5px rgb(163, 125, 0);
    margin: auto;
    padding-right: 30px;
}
h2 {
    text-align: center;
}
label {
    display: block;
}
input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 6px;
    resize: vertical;
}
button {
    background-color: #0077cc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
}
button:hover {
    background-color: #005fa3;
}
form {
    padding: 30px;
}
