<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
</head>
<body>
<header>
    <h1>CRM - Atendimento</h1>
</header>
<main>
    <section>
        <form method="post">
                {{ form.csrf_token }}

                {{ form.nome.label() }}
                {{ form.nome() }}

                {{ form.situacao.label() }}
                {{ form.situacao() }}

                {{ form.piscina.label() }}
                {{ form.piscina() }}

                {{ form.vendedor.label() }}
                {{ form.vendedor() }}

                {{ form.btnSubmit(class="button") }}
        </form>
    </section>
</main>
</body>
</html>