<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>CRM</title>
</head>
<header>
    <h1>CRM</h1>
</header>
<body>
<main>
    <section class="buttons">
        <a href="{{url_for('cadastro')}}"><button>cadastrar cliente</button></a>
        <a href="{{url_for('pesquisar')}}"><button>Visualisar clientes cadastrados</button></a>
        <a href="{{url_for('atendimento')}}"><button>Atendimento</button></a>
    </section>
</main>
</body>
</html>